# Docker
.dockerignore
Dockerfile*
docker*yaml
docker/**

# Git
.gitignore
.git
.github

# PyCharm
.idea

# Python
**/__pycache__
**/*.py[cod]

# Virtual env
.env
.venv
venv
virtualenv

# SQL
db.sqlite3

# docker-compose
app
